name: commit stage

on:
  push:
    branches: ["**"]
  workflow_call:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.5.6
      - run: deno install
      - run: deno lint
      - run: deno fmt --check
      - run: deno task test

  release:
    if: github.ref == 'refs/heads/main'
    needs: [test]
    runs-on: ubuntu-latest
    steps:
      - uses: joaofnds/semantic-release-action@v1.4.0
        with:
          plugins: "conventional-changelog-conventionalcommits"
        env:
          GITHUB_TOKEN: ${{ secrets.PERSONAL_TOKEN }}
